/* Settings */

@font-face{
    src: url(../assets/fonts/Malaga-OT-Reg-Italic.ttf);
    font-family: malaga;
}

@font-face{
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
    font-family: 'Titillium Web';
}

@font-face{
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
    font-family: 'Titillium Web';
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
}



/* header */


header {
    display: grid;
    grid-template-rows: 140px 160px 1fr 15rem;
    grid-template-columns: 1fr 1200px 1fr;

    /* background: url(../images/bgtop2.bmp);
    background-repeat: no-repeat;
    background-size: cover; */
    max-width: 1400px;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1/-1;
}

nav h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 6rem;
}

nav h1 span {
    color: purple;
}

.languages ul {
    display: flex;
    align-items: center;
}
.languages li {
    font-size: 1em;
    font-weight: bold;
}

.languages li:hover {
    border-bottom: solid 1px purple;
}

.menu {
    display: flex;
    width:100%;
    margin-top: 6.4rem;
    justify-content: space-between;
}

.menu p {
    font-size: 1em;
}
.menu p:hover {
    font-size: 1.3em;
}

.fa-sign-in-alt{
    size: 7x;
    position: relative;
    top: 0.3rem;
}

.menu :last-child {
    /* Add gradient and color */
    background-color: blue;
    color: white;
    border-radius: 18px;
    width: 91px;
    height: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}
.empty-space-nav {
    flex-basis: 32rem;
    flex-shrink: 1000;
}

/* Landing page */

.landing-page {

    grid-row: 3;
    grid-column: 2;
    text-align: center;
}

.landing-page h2 {
    font-size: 3.7em;
}

.landing-page p {
    font-size: 2.3em;
}

.landing-page p span {
    color:red
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3rem;
}

.buttons p {
    font-size: 1em;
    font-weight: bold;
}

.buttons i {
    background-color: blue;
    color: white;
    border-radius: 18px;
    height: 3rem;
    width: 3rem;    
    text-align: center;
    justify-content: center;
    padding-top: 0.7rem;
    margin-left: 1.5rem;
}

.create-account {
    background-color: blue;
    color: white;
    border-radius: 18px;
    width: 15rem;
    height: 4em;
    text-align: center;
    justify-content: center;
    padding-top: 0.5rem;
}

.social-media-links {
    position: absolute;
    top: 20rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
}

.social-media-links i {
    margin: 0.8rem;
}



/* Profits */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.empty-space-security {
    height: 100px;
} 

.physical-security {
    align-items: flex-end;
}

.physical-security h2 {
    font-size: 3.8em;
}

.physical-security p {
    font-size: 1.4em;
}

.physical-security p span {
    color: red;
}




/* Main */

.heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inner-container {
    display: flex;
    flex-direction: column;
}



.empty-space-profits {
    height: 8rem;
}

.swiss-privacy img {
    width: 67px;
}

.swiss-privacy h2 {
    font-size: 1.8em;
    float: right;
}

.data-security {
    font-size: 2.2em;
}
.swiss-privacy p {
    font-size: 0.9em;
}



.double-encryption h2{
    font-size: 1.8em;
}

.double-encryption p{
    font-size: 0.9em;
}

.automatic {
    font-size: 1.8em;
}
.double-encryption img {
    width: 95px;
}



.anonymous-email h2{
    font-size: 1.8em;
}

.anonymous-email p {
    font-size: 0.9em;
}
.anonymous-email img {
    width: 70px;
}

.protect {
    font-size: 1.8em;
}



.learn-more {
    border-radius: 25px;
    border: 2px solid black;
    padding: 0.6rem;
    padding-left: 30px;
    width: 330px;
    height: 50px;
    font-size: 1em;
    /* Will have to change this relative position with flexbox to make it reponsive */
    position: relative;
    left: 43rem;
}

.reviewers-image{
    position:absolute;
    left: 0rem
}

/* reviews and portability */

/* .second-background-div {
    grid-column: 1/-1;
    grid-row: 2;
    background-image: url(../images/second_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.background-div {
    grid-column: 2;
    grid-row: 1/-1;
    background-image: url(../images/laptop.png);
    background-size: contain;
    background-repeat: no-repeat;
} */

.empty-space-reviews{
    height: 8rem;
}

.reviews-and-portability{
    display: grid;
    grid-template-columns: 20% 40% 1fr;
    grid-template-rows: 15rem 15rem 200px;
}

.reviews {
    grid-row: 1;
    grid-column: 2;
}

.reviews p {
    font-family: malaga;
    font-size: 1.4em;
}

.review span {
    font-size: 1em;
}

.portability {
    grid-row: 2;
    grid-column: 2;
    text-align: right;
}

.portability h2 {
    font-size: 2.2em;
}

.portability p {
    font-size: 1em;
}

.portability img {
    width: 200px;
}



/* privacy */

.privacy {
    display:flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1px black;
}

.privacy h2 {
    font-size: 2.2em;
}

.privacy p {
    font-size: 1.8em;
}

.privacy-buttons {
    display: flex;
}

.privacy-buttons :first-child {
    background-color: blue;
    color: white;
    border-radius: 18px;
    height: 3rem;
    width: 25rem;    
    text-align: center;
    justify-content: center;
    padding-top: 0.7rem;
    margin-left: 1.5rem;
}

.privacy-buttons :last-child {
    background-color: blue;
    color: white;
    border-radius: 18px;
    height: 3rem;
    width: 10rem;    
    text-align: center;
    justify-content: center;
    padding-top: 0.7rem;
    margin-left: 1.5rem;
    margin-bottom: 7rem;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px;
}

.sponsors {
    grid-row: 1;
    grid-column: 1;
}

.sponsors p {
    font-size: 1em;
    text-align: end;
}

.bottom-flex-container {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    font-size: 0.8em;
}

.company p{
    font-size: 0.8em;
}

.company li {
    font-size: 0.9;
}

.legal p{
    font-size: 1.1em;
}

.legal li {
    font-size: 0.9;
}

.neutron-mail p{
    font-size: 1.1em;
}

.neutron-mail li {
    font-size: 0.9;
}

.social-media {
    display: block;
}

.social-media ul {
    display: flex;
}

.social-media li {
    font-size: 1.2em;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: solid 1px black;
}

/* .rights {
    position: absolute;
    bottom: 10px;
    font-size: 1.2em;
} */

@media (min-width: 1400px) {
    body {
        display: flex;

    }
    .over1400 {
        flex-basis: 1400;
        flex-shrink: 0;
    }
    .empty1400 {
        flex-grow: 2;
        flex-shrink: 2;
    }
}

@media (max-width: 1200px){

    .empty-space-nav {
        flex-basis: 2rem;
        
    }
}
    /* .header {
        display: grid;
        grid-template-rows: 140px 160px 1fr 15rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */

@media (max-width: 800px){
    

    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom-flex-container {
        flex-direction: column;
        padding-left: 3rem;
    }

    .under-footer {
        display: none;
    }
}

@media (max-width: 540px){


}