@font-face{
    src: url(../fonts/Malaga-OT-Reg-Italic.ttf);
    font-family: malaga;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
}

html {
    font-size: 62.5%;
    margin: 0 auto;
}

/* header */

header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 800px 1fr 100px;
    /* background: url(../images/bgtop2.bmp);
    background-repeat: no-repeat;
    background-size: cover; */
    max-width: 1400px;
}
nav {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1/-1;
}
nav h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 6rem;
}

.languages ul {
    display: flex;
    align-content: space-between;
}
.languages li {
    font-size: 1.8em;
    font-weight: bold;
}
.menu {
    display: flex;
    width:100%;
    margin-top: 6rem;
    justify-content: space-between;
    position: relative;
    top:20px;
}

.menu p {
    font-size: 1.6em;
}
.empty-space {
    flex-basis: 450px;
    flex-shrink: 2;
}
.fa-sign-in-alt{
    size: 7x;
}
.menu :last-child {
    /* Add gradient and color */
    background-color: blue;
    color: white;
    border-radius: 18px;
    width: 91px;
    height: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}

.landing-page {

    grid-row: 3;
    grid-column: 2;
}

.landing-page h2 {
    font-size: 6em;
}

.landing-page p {
    font-size: 3.6em;
}

.buttons p{
    font-size: 1.8em;
    font-weight: bold
    ;
}

.social-media-links {
    grid-row: 3;
    grid-column: 4;
}


/* Profits */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

.physical-security {
    align-items: flex-end;
}

.physical-security h2 {
    font-size: 6em;
}

.physical-security p {
    font-size: 2.4em;
}

/* Main */

.swiss-privacy h2 {
    font-size: 3em;
}

.swiss-privacy p {
    font-size: 1.4em;
}

.data-security {
    font-size: 1.8em;
}

.double-encryption h2{
    font-size: 3em;
}

.double-encryption p{
    font-size: 1.4em;
}

.automatic {
    font-size: 1.8em;
}

.anonymous-email h2{
    font-size: 3em;
}

.anonymous-email p {
    font-size: 1.4em;
}

.protect {
    font-size: 1.8em;
}


.learn-more {
    font-size: 1.6em;
}
/* reviews and portability */
.second-background-div {
    grid-column: 1/-1;
    grid-row: 2;
    background-image: url(../images/second_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.background-div {
    grid-column: 2;
    grid-row: 1/-1;
    background-image: url(../images/laptop.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.reviews-and-portability{
    display: grid;
    grid-template-columns: 20% 40% 1fr;
    grid-template-rows: 200px 200px;
}

.reviews {
    grid-row: 1;
    grid-column: 2;
}
.reviews p {
    font-family: malaga;
    font-size: 2.4em;
}
.review span {
    font-size: 1.6em;
}

.portability {
    grid-row: 2;
    grid-column: 2;

}
.portability h2 {
    font-size: 3.6em;
}
.portability p {
    font-size: 1.6em;
}



/* privacy */

.privacy {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.privacy h2 {
    font-size: 3.6em;
}

.privacy p {
    font-size: 2.9em;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px;
}

.sponsors {
    grid-row: 1;
    grid-column: 1;
}
.sponsors p {
    font-size: 1.4em;
}
.bottom-flex-container {
    grid-row: 3;
    grid-column: 1;
    display: flex;
}

.contact-info {
    font-size: 1.4em;
}
.company p{
    font-size: 1.8em;
}
.company li {
    font-size: 1.4em;
}
.legal p{
    font-size: 1.8em;
}
.legal li {
    font-size: 1.4em;
}

.neutron-mail p{
    font-size: 1.8em;
}
.neutron-mail li {
    font-size: 1.4em;
}

.social-media {
    grid-row: 4;
}

.social-media ul {
    display: flex;
}

.social-media li {
    font-size: 1.2em;
}
.rights {
    font-size: 1.2em;
}